<%- include("partials/header.ejs") %>
<h1> <%= title %> </h1>
<p> <%= date %></p>
<p> <%= name %></p>
<p> <%= content %></p>

<a class="btn btn-light" href="/edit/<%=title%>">Edit</a>
<a class="btn btn-light" href="/delete/<%=title%>">Delete</a>